body {
    background-color: #e5e5e5;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    height: 75px;
    max-width: 100%;
    margin: auto;
}

.headerContainer ul,
li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.headerContainer li {
    text-decoration: underline;
}

.headerContainer li:first-child {
    color: rgba(136, 135, 135, 1);
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60rem;
}

.navigationContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 100%;
    margin: auto;
}

.navigationElements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigationElement {
    padding-left: 35px;
    padding-right: 35px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 0.5px solid #888787;
    background-color: white;
}

.navigationElement:first-child {
    border-left: 0.5px solid #888787;
}

.navigationElementDescription {
    font-size: 12px;
    color: rgba(71, 71, 71, 1);
}

.navigationElement a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}

.homeContainer {
    height: 705px;
    display: flex;
}

.homeImg {
    position: relative;
    left: 0px;
    bottom: 70px;
    top: 73px;
}

.companyContainer {
    position: relative;
    padding-top: 100px;
}

h1 {
    text-align: left;
    font-family: "Roboto";
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
}

h1::after {
    content: "";
    position: absolute;
    background-color: #bf0f0f;
    width: 137px;
    height: 6px;
    bottom: 0;
    left: 50px;
}

h2 {
    font-family: "Roboto";
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 50px;
    width: 500px;
    font-size: 30px;
}

h2::after {
    content: "";
    position: absolute;
    background-color: #c4c4c4;
    width: 400px;
    height: 3px;
    left: 50px;
    top: 300px;
}

h3 {
    text-align: left;
    font-family: "Roboto";
    position: relative;
    padding-left: 50px;
}

.button {
    background-color: #bf0f0f;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.moreInfo {
    padding-left: 50px;
    padding-top: 70px;
}

.fixedImage {
    width: 100%;
    height: 502px;
    background-image: url("../assets/images/fixedImage.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.distributionContainer {
    padding-top: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.dImages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description {
    padding-top: 5px;
    position: relative;
}

.description::after {
    content: "";
    position: absolute;
    background-color: #bf0f0f;
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 25px;
}

.nameContainer {
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 150px;
}

.name {
    font-size: 50px;
    text-align: center;
}

.secondName {
    text-align: center;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    position: relative;
}

.secondName::before {
    content: "";
    position: absolute;
    background-color: #bf0f0f;
    width: 137px;
    height: 6px;
    top: 30px;
    left: 50%;
}

.aboutContainer {
    width: 100%;
    height: 345px;
    top: 30px;
}